:root{
  --main-color: #00bceb;
}

*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

li{list-style-type: none;}
a{text-decoration: none;color:#fff}

.primary-logo{
  position: absolute;
  top: 30px;
  left: 20px;
}

.banner-header{
  position: relative;
  text-align: center;
  height: 15vh;
  width: 100%;
  color: #fff;
  background-color: dodgerblue;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.exhibit-container-heading{
  color: var(--main-color);
  text-align: center;
}

.exhibit-container{
  margin: 20px;
  padding: 20px;
}

.data-category{
  max-width: 85%;
  border: 2px solid var(--main-color);
  border-radius: 20px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.data-category-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px;
  gap: 15px;
}

.data-category-heading{
  font-weight: 600;
  font-size: 1.5rem;
  font-style: italic;
  color: var(--main-color);
}

.data-point-cards{
  width: 100%;
  padding: 20px;
  border: 1px solid var(--main-color);
  border-radius: 20px;
  display: flex;
  gap: 20px;
}

.data-point-card{
  border: 1px solid var(--main-color);
  height: max-content;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.data-card-heading{
  font-size: 1rem;
  text-align: center;
  color: var(--main-color);
}